*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body{
    background-image: url(../image/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: rgb(255, 255, 255);
    height: 150px;
    
}

header h1 h2 {
    margin: 22px;
    padding: 22px;
    color: rgb(177, 103, 18);
    font-family: 'Courier New', Courier, monospace;
}

#navegacao{
    text-align: center;
    text-decoration: none;
}

#navegacao nav a{
    background-color: rgb(89, 26, 122);
    margin: 10px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
}

nav a {
    color: aqua;
}

#formulario{
    float: right;

}