*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

/* Menu de Navegação */
#navegacao header{
    background-color: rgb(236, 191, 100);
    height: 130px;
    text-align: center;
    
}

#navegacao nav{
    color: rgb(6, 4, 2);
    font-size: 1.7em;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    text-align: center;
}

/* Pagina Inicial */

.conteudo1{
    text-align: center;
}

.conteudo1 .b{
    width: 300px;
    font-size: 1.4em;
    font-style: italic;
    display: inline-block;
}

/* Contato */
/* Formulário */
form {
    background-color: coral;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5%;
    margin: 15px;
}

.texto{
    width: 300px;
}

.radio{
    height: 200px;
}