*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

/* Menu de Navegação */
#cabecalho{
    height: 165px;
    width: auto;
    background-image: url(../image/fundo2.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho img{
    height: 70px;
    width: 70px;
    margin: 0 10px 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho h1{
    color: rgb(255, 255, 255);
    margin: 0 60px 0 0;
    font-size: 3.8em;
    font-style: italic;
}

#cabecalho nav{
    margin: 0 100px 0 100px;
    border:  1px solid black;
    height: auto;
    width: auto;
    border-radius: 44px;
}

#cabecalho a{
    color: rgb(0, 0, 0);
    font-size: 1.9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    margin: 5px;
}

#cabecalho a:hover{
    color: #ffffff;
    transition: 0.99ms
}

/* Pagina Inicial */

#container-anun{
    background-image: url(../image/fundo1.jpg);
    background-color: orangered;
    padding: 20px;

}

#anuncio{
    margin: 5px 300px 0 250px ;
    height: 500px;
    width: 800px;
    display: flex;
    border-radius: 10%;
    
}

.conteudo1{
    background-color: orangered;
    margin: 5px;
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-style: italic;
    border-radius: 2%;
}

.conteudo1 p {
    height: 200px;
    width: 300px;
    margin: 0 0px 0 300px ;
}

.conteudo1 img{
    margin: 0 300px 0 px;
    border-radius: 2%;
}

/* Contato */
/* Formulário */
#fundo-cont{
    background-image: url(../image/fundo1.jpg);
}
.caixa1 {
    background-color: orangered;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cont{
    font-style: italic;
    text-align: center;
}

.caixa1 h3{
    font-style: italic;
    color: #ffffff;
}

.caixa1 form{
    background-color: rgb(204, 73, 25);
    width: 400px;
    text-align: center;
    border-radius: 2%;
}

.texto{
    width: 300px;
    border-radius: 5px;
    height: 30px;
}


button{
    background-color: black;
    color: #ffffff;
    height: 30px;
    width: 200;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* rodape ************************/

footer{
    background-image: url(../image/fundo1.jpg);
    padding: 30px;
}

#rodape{
    margin: 0 0 0 15px;
    color: #000000;
    font-size: 1.1em;
}